<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Home | Admin Portal')"/>
<body class="bg-nord-0">

<div class="container mx-auto">
    <div th:replace="fragments/navbars/admin-navbar :: navbar"/>
    <div class="flex flex-col gap-4 mx-8 my-10">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Employee Portal Statistics</label>
        <div class="bg-nord-1 rounded-lg w-full h-auto py-4 flex flex-row justify-between divide-x divide-solid divide-gray-400">
            <div class="relative flex-1 flex flex-col gap-2 px-4">
                <label class="text-nord-4 text-base font-semibold tracking-wider">Total Employees</label>
                <label class="text-nord-4 text-4xl font-bold" th:text="${employeesCount}"></label>
            </div>
            <div class="relative flex-1 flex flex-col gap-2 px-4">
                <label class="text-nord-4 text-base font-semibold tracking-wider">Total Supervisors</label>
                <label class="text-nord-4 text-4xl font-bold" th:text="${supervisorsCount}"></label>
            </div>
            <div class="relative flex-1 flex flex-col gap-2 px-4">
                <label class="text-nord-4 text-base font-semibold tracking-wider">Average Well-being Score</label>
                <label class="text-nord-13 text-4xl font-bold" th:text="${avgrating + '/10'}"></label>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 mx-8 my-10">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Well-being score per supervisor (Past Week)</label>
        <table class="border-collapse w-full">
            <thead>
            <tr>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-b hidden lg:table-cell lg:w-1/3">Supervisor</th>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-b hidden lg:table-cell">Assigned Team</th>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-b hidden lg:table-cell">Average Well-being Score</th></tr>
            </thead>
            <tbody>
            <tr th:each="supervisor : ${supervisors}" class="bg-nord-1 lg:hover:bg-nord-2 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Supervisor Name</span>
                    <span th:text="${supervisor.name + (supervisor.disabled ? ' (Disabled)' : '')}"></span>
                </td>
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b text-center block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Team</span>
                    <span th:text="${supervisor?.teamname}"></span>
                </td>
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b text-center block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Avg Well-being Score</span>
                    <span th:if="${supervisor.avgrating > 7}" class="rounded bg-nord-14 py-1 px-3 text-xs font-bold text-nord-1" th:text="${supervisor.avgrating + '/10'}"></span>
                    <span th:if="${supervisor.avgrating >= 4 && supervisor.avgrating <= 7 }" class="rounded bg-nord-13 py-1 px-3 text-xs font-bold text-nord-1" th:text="${supervisor.avgrating + '/10'}"></span>
                    <span th:if="${supervisor.avgrating < 4}" class="rounded bg-nord-11 py-1 px-3 text-xs font-bold text-nord-6" th:text="${supervisor.avgrating + '/10'}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<footer th:replace="fragments/footer :: footer"></footer>
</html>