<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Manage Teams | Admin Portal')"/>
<body class="bg-nord-0">

<div class="container mx-auto">
    <div th:replace="fragments/navbars/admin-navbar :: navbar"/>
    <div class="flex flex-col gap-4 mx-8 my-10">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Create Team</label>
        <form class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4" th:object="${team}" th:action="@{/admin/team/create}"
              method="post">
            <p th:classappend="${createstatus == 'error' ? 'bg-nord-11' : 'bg-nord-14'}"
               class="rounded mb-3 p-2 text-nord-6 text-s italic mr-10" th:if="${status}"
               th:text="${createstatus == 'error' ? 'Error: ' + createmessage : 'Success: ' + createmessage}">
                Error Creating Team
            </p>
            <div class="flex">
                <div class="mr-10 w-1/2">
                    <label class="block text-nord-4 text-md font-bold mb-2" for="name">
                        Team Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-nord-1 bg-nord-6 leading-tight focus:outline-none focus:shadow-outline"
                           id="name" type="text" placeholder="Team Name" th:field="*{name}" name="name"
                           th:value="${team?.name}" required>
                </div>
            </div>
            <div class="my-5 flex items-center justify-between">
                <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Create Team
                </button>
            </div>
        </form>
    </div>
    <div class="flex flex-col gap-4 mx-8 my-10">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Assign Supervisor to Team</label>
        <form class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4" th:object="${assignsupervisortoteam}" th:action="@{/admin/team/assign}"
              method="post">
            <p th:classappend="${assignstatus == 'error' ? 'bg-nord-11' : 'bg-nord-14'}"
               class="rounded mb-3 p-2 text-nord-6 text-s italic mr-10" th:if="${assignstatus}"
               th:text="${assignstatus == 'error' ? 'Error: ' + assignmessage : 'Success: ' + assignmessage}">
                Error Assigning Supervisor to Team
            </p>
            <div class="flex">
                <div class="mr-10 w-1/2">
                    <label class="block text-nord-4 text-md font-bold mb-2" for="team">Select a Supervisor</label>
                    <select required th:value="${assignsupervisortoteam?.supervisor_id}" name="supervisor_id" th:field="*{supervisor_id}" id="supervisor" class="bg-nord-6 text-nord-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option th:value="0" selected>Select a Supervisor</option>
                        <option th:each="supervisor : ${unassigned_supervisors}" th:value="${supervisor.id}" th:text="${supervisor.name}"></option>
                    </select>
                </div>
                <div class="mr-10 w-1/2">
                    <label class="block text-nord-4 text-md font-bold mb-2" for="team">Select a Team</label>
                    <select required th:value="${assignsupervisortoteam?.team_id}" name="team_id" th:field="*{team_id}" id="team" class="bg-nord-6 text-nord-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option th:value="0" selected>Select a Team</option>
                        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                    </select>
                </div>
            </div>
            <div class="my-5 flex items-center justify-between">
                <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Assign Supervisor to Team
                </button>
            </div>
        </form>
    </div>
    <div class="flex flex-col gap-4 mx-8 my-10">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Full Teams List</label>
        <table class="border-collapse w-full">
            <thead>
            <tr>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-gray-300 hidden lg:table-cell lg:w-1/4">Team
                    Name
                </th>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-gray-300 hidden lg:table-cell">Assigned
                    Supervisor
                </th>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-gray-300 hidden lg:table-cell">Average Well-being
                    Score
                </th>
                <th class="p-3 font-bold bg-nord-3 text-nord-4 border-gray-300 hidden lg:table-cell">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team: ${teams}"
                class="bg-nord-1 lg:hover:bg-nord-2 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b block lg:table-cell relative lg:static cursor-pointer">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Team Name</span>
                    <span th:text="${team.name}"></span>
                </td>
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b text-center block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Assigned Supervisor</span>
                    <span th:text="${team?.supervisor?.name == null ? 'N/A' : team?.supervisor?.name}"></span>
                </td>
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b text-center block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Avg Well-being Score</span>
                    <span class="rounded bg-nord-11 py-1 px-3 text-xs font-bold text-nord-6">2/10</span>
                </td>
                <td class="w-full lg:w-auto p-3 text-nord-4 text-center border-b text-center block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-nord-3 px-2 py-1 text-xs font-bold uppercase">Action</span>
                    <a class="cursor-pointer" href="#">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<footer th:replace="fragments/footer :: footer"></footer>
</html>