<html lang="en">
<body>
<nav un-cloak th:fragment="navbar" class="bg-nord-0 my-2 px-2 sm:px-4 py-2.5 rounded">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="/e" class="flex items-center bg-nord-6 p-1 rounded-lg">
            <img src="/logo.gif" class="h-6 mr-3 sm:h-10" alt="Graphium Logo" />
            <span class="v-mid leading-3">
                <span class="text-xl font-semibold whitespace-nowrap text-nord-0">Graphium</span><br>
                <span class="text-xs whitespace-nowrap text-nord-0">Employee Portal</span>
            </span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-nord-6 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-nord-6">
                <li>
                    <a th:href="@{/e}" th:classappend="${#httpServletRequest.getRequestURI() == '/e' ? 'text-white bg-blue-700 rounded md:bg-transparent md:text-nord-0 md:p-0 overline decoration-nord-0':'text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-nord-3 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'}" class="block py-2 pl-3 pr-4" aria-current="page">Home</a>
                </li>

                    <a th:href="@{/s}" th:classappend="${#httpServletRequest.getRequestURI() == '/s' ? 'text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white':'text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'}" class="block py-2 pl-3 pr-4" aria-current="page">Switch View</a>
                </li>

                <li>
                    <a th:href="@{/e/meeting}" th:classappend="${#httpServletRequest.getRequestURI() == '/e/meeting' ? 'text-white bg-blue-700 rounded md:bg-transparent md:text-nord-0 md:p-0 overline decoration-nord-0':'text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-nord-3 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'}" class="block py-2 pl-3 pr-4">Schedule Meeting</a>
                </li>
                <li>
                    <a th:href="@{/e/profile}" th:classappend="${#httpServletRequest.getRequestURI() == '/e/profile' ? 'text-white bg-blue-700 rounded md:bg-transparent md:text-nord-0 md:p-0 overline decoration-nord-0':'text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-nord-3 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'}" class="block py-2 pl-3 pr-4">Profile</a>
                </li>
                <li>
                    <a th:href="@{/e/settings}" th:classappend="${#httpServletRequest.getRequestURI() == '/e/settings' ? 'text-white bg-blue-700 rounded md:bg-transparent md:text-nord-0 md:p-0 overline decoration-nord-0':'text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-nord-3 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent'}" class="block py-2 pl-3 pr-4">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>