<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Home | Supervisor Portal')"/>
<body class="bg-nord-0">

<div class="container mx-auto">
    <div th:replace="fragments/navbars/supervisor-navbar :: navbar"/>
    <div class="flex flex-col gap-4 mx-8 my-10">
        <label class="text-nord-4 font-semibold tracking-wider text-lg"
               th:text="${'Welcome to your dashboard, ' + supervisor.name}"></label>
        <div class="shadow-lg rounded-lg aspect-video max-w-screen-md bg-nord-1 self-center">
            <canvas class="p-5" id="chartLine"></canvas>
        </div>
    </div>
    <div class="flex flex-col gap-4 mx-8 my-7">
        <div>
            <label class="text-nord-4 font-semibold tracking-wider text-lg">Alerts</label>
            <span class="rounded-3xl bg-nord-4 text-nord-0 text-xs px-1 align-top font-semibold"
                  th:unless="${noUnreadAlerts}"
                  th:text="${unreadCount}">
            </span>
        </div>
        <div class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div th:if="${alerts.size() < 1}" class="bg-nord-0 text-nord-4 p-4 my-4 rounded text-center" role="alert">
                <p class="text-nord-6 font-semibold">No alerts, check back later</p>
            </div>
            <div th:classappend="${alert.readBySupervisor ? 'opacity-50' : ''}"
                 class="bg-nord-0 relative border-l-4 border-orange-500 text-nord-4 p-4 my-4 rounded" role="alert"
                 th:each="alert : ${alerts}">
                <p class="text-xs text-nord-6" th:text="${#dates.format(alert.created)}"></p>
                <p class="font-bold" th:text="${alert.title}"></p>
                <p th:text="${alert.supervisorMessage}"></p>
                <form th:action="@{/s/alert/read}" th:method="post" th:unless="${alert.readBySupervisor}">
                    <label>
                        <input class="hidden" type="submit" name="id" th:value="${alert.id}">
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg un-cloak
                             class="hover:bg-nord-2 cursor-pointer fill-current h-6 w-6 bg-nord-0 text-nord-4 rounded-lg"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
    <script>
        let str = "[[${employees}]]"
        let respObj = JSON.parse(str.replace(/&quot;/g, '"'));
        const data = {
            datasets: []
        };
        for (const emp in respObj) {
            let sortedEmp = respObj[emp].sort((a, b) => {
                return a.time - b.time;
            });
            data.datasets.push({
                label: emp,
                data: sortedEmp.map((v) => {
                    let date = new Date(v.time);
                    return {'x': `${date.getUTCDate()}/${date.getUTCMonth() + 1}`, 'y': v.rating}
                })
            })
        }

        const configLineChart = {
            type: "line",
            data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                    },
                    title: {
                        display: true,
                        font: {
                            weight: '400'
                        },
                        text: "Check-In scores of your employees (past 7 days)"
                    }
                },
                scales: {
                    'y': {
                        title: {
                            display: true,
                            text: "Check-In Score (Negative - Positive)",
                        },
                        grid: {
                            color: ['rgba(191,97,106,0.8)', 'rgba(191,97,106,0.8)', 'rgba(191,97,106,0.8)',
                                'rgba(208,135,112,0.8)', 'rgba(208,135,112,0.8)', 'rgba(208,135,112,0.8)', 'rgba(208,135,112,0.8)',
                                'rgba(163,190,140,0.8)', 'rgba(163,190,140,0.8)', 'rgba(163,190,140,0.8)']
                        },
                        type: 'category',
                        reverse: true,
                        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    },
                    'x': {
                        title: {
                            display: true,
                            text: "Last 7 days in day/month format"
                        }
                    }
                }
            }
        };

        Chart.defaults.color = '#ffffff';
        Chart.defaults.font.size = 17;
        Chart.defaults.font.family = "Segoe UI";
        Chart.defaults.font.weight = "normal";
        Chart.defaults.backgroundColor = "#D8DEE9";
        Chart.defaults.borderColor = "#D8DEE9";

        var chartLine = new Chart(
            document.getElementById("chartLine"),
            configLineChart
        );
    </script>
</footer>

<footer th:replace="fragments/footer :: footer">
</footer>
</html>