<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile | Employee Check-In Portal')"/>

<div class="container mx-auto">
    <div th:replace="fragments/navbars/employee-navbar :: navbar"/>
</div>

<body class="bg-nord-0">
<div class="p-0">
    <div class="p-8 shadow mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-10 md:mt-0">

            </div>
            <div class="relative">
                <img th:src="${image != null ? 'data:charset=utf-8;base64,' + image : 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'}"
                     class="w-34 h-34 bg-slate-100 mx-auto rounded-full shadow-xl absolute inset-x-0 top-0 -mt-8 flex items-center justify-center text-slate-600"
                     alt="Profile Picture"/>

            </div>
        </div>
        <div class="mt-30 text-center border-b pb-6">
            <a th:href="@{/e/profile}"
               class="text-white py-1 px-2 uppercase rounded bg-slate-600 hover:bg-slate-700 shadow hover:shadow-lg font-medium text-xs transition transform hover:-translate-y-0.5">
                Finish Editing
            </a>
        </div>

        <div class="mt-5 text-center border-b pb-6">

            <h1 class="text-3xl font-xs text-nord-6">Update Details<span
                    class="font-light text-gray-500"></span>
            </h1>
            <form action="#" th:action="@{/e/profile/edit}" th:object="${user}" method="post" enctype="multipart/form-data">
                <p class="mt-4 text-gray-500">Full-Name: <input type="text" pattern="[a-zA-Z ]+" th:field="*{name}"
                                                                th:value="${user.name}"
                                                                class="shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-nord-5"/>
                </p>
                <p class="mt-4 text-gray-500">Phone(+44): <input type="tel" pattern="[0-9+]{3}[0-9]{10}"
                                                                 th:field="*{phone}" th:value="${user.phone}"
                                                                 class="shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-nord-5"/>
                </p>
                <p class="mt-4 text-gray-500">Profile Picture: <input type="file" name="image" accept="image/*"
                                                                 class="shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-nord-5"/>
                </p>

                <p class="mt-4 text-nord-6"><input type="submit" value="Submit"/> | <input type="reset"
                                                                                           value="Reset"/></p>
            </form>

        </div>
        <div class="mt-0 flex flex-col justify-center">
            <button
                    class="text-nord-6 py-2 px-4  font-medium mt-4"
            >Supervisor Notes
            </button>
            <p class="text-nord-6 text-center font-light lg:px-16">You've really outdone yourself this week Sanil;
                Great work on centering that div!</p>

        </div>

    </div>

</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
