<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile | Employee Check-In Portal')"/>

<div class="container mx-auto">
    <div th:replace="fragments/navbars/employee-navbar :: navbar"/>
</div>

<body class="bg-nord-0">
<div class="p-0">
    <div class="p-8 shadow mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-10 md:mt-0">

            </div>
            <div class="relative">
                <img alt="Profile Picture"
                     class="w-34 h-34 bg-slate-100 mx-auto rounded-full shadow-xl absolute inset-x-0 top-0 -mt-8 flex items-center justify-center text-slate-600"
                     th:src="${image != null ? 'data:charset=utf-8;base64,' + image : 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'}"/>

            </div>
        </div>
        <div class="mt-30 text-center border-b pb-6">
            <a class="text-white py-1 px-2 uppercase rounded bg-slate-600 hover:bg-slate-700 shadow hover:shadow-lg font-medium text-xs transition transform hover:-translate-y-0.5"
               th:href="@{/e/profile}">
                Finish Editing
            </a>
        </div>

        <div class="mt-5 text-center border-b pb-6">

            <h1 class="text-3xl font-xs text-nord-6">Update Details
            </h1>
            <form action="#" enctype="multipart/form-data" method="post"
                  th:action="@{/e/profile/edit}" th:object="${user}">
                <p class="rounded mb-3 p-2 text-nord-6 text-s italic mr-10"
                   th:classappend="${status == 'error' ? 'bg-nord-11' : 'bg-nord-14'}"
                   th:if="${status}"
                   th:text="${status == 'error' ? 'Error: ' + message : 'Success: ' + message}">
                    Error Finding Employee
                </p>
                <p class="mt-4 text-nord-6">Full-Name: <input
                        class="shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-nord-5"
                        pattern="[a-zA-Z ]+" th:field="*{name}"
                        th:value="${user.name}"
                        type="text"/>
                </p>
                <p class="mt-4 text-nord-6">Phone(+44): <input
                        class="shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-nord-5"
                        pattern="[0-9+]{3}[0-9]{10}"
                        th:field="*{phone}" th:value="${user.phone}"
                        type="tel"/>
                </p>
                <p class="mt-4 text-nord-6">Profile Picture: <input accept="image/*"
                                                                    class="shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-nord-5"
                                                                    name="image"
                                                                    type="file"/>
                </p>
                <p class="mt-4 text-nord-6"><input type="submit" value="Submit"/> | <input type="reset"
                                                                                           value="Reset"/></p>
            </form>

        </div>
        <div class="flex flex-col gap-4 mx-8 my-10">
            <label class="text-nord-4 font-semibold tracking-wider text-lg text-center">Meeting Notes</label>
            <p class="text-nord-6 text-center font-light lg:px-16">No meeting notes found</p>
        </div>
    </div>

</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
