<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Profile | Employee Check-In Portal')"/>

<div class="container mx-auto">
    <div th:replace="fragments/navbars/employee-navbar :: navbar"/>
</div>

<body class="bg-nord-0">
<div class="p-0">
    <div class="p-8 shadow mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-10 md:mt-0">

            </div>
            <div class="relative">
                <img th:src="${image != null ? 'data:charset=utf-8;base64,' + image : 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'}"
                     class="w-34 h-34 bg-slate-100 mx-auto rounded-full shadow-xl absolute inset-x-0 top-0 -mt-8 flex items-center justify-center text-slate-600"
                     alt="Profile Picture"/>

            </div>
        </div>
        <div class="mt-30 text-center border-b pb-6">
            <a th:href="@{/e/profile/edit}"
               class="text-white py-1 px-2 uppercase rounded bg-slate-600 hover:bg-slate-700 shadow hover:shadow-lg font-medium text-xs transition transform hover:-translate-y-0.5">
                Edit Profile
            </a>
        </div>


        <div class="mt-5 text-center border-b pb-6">
            <h1 class="text-3xl font-xs text-nord-6" th:text="${user.name}"><span
                    class="font-light text-gray-500"></span>
            </h1>


            <p class="mt-4 text-nord-6">Low-Level Frontend Developer</p>
            <p class="mt-4 text-nord-6" th:text="${user.phone}"></p>
            <p class="mt-4 text-nord-6" th:text="${user?.team?.name}"></p>

        </div>

        <div class="mt-0 flex flex-col justify-center">
            <button
                    class="text-nord-6 py-2 px-4  font-medium mt-4"
            >Supervisor Notes
            </button>
            <p class="text-nord-6 text-center font-light lg:px-16">You've really outdone yourself this week Sanil;
                Great work on centering that div!</p>

        </div>

    </div>
</div>

</body>
</html>
