<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Home | Employee Check-In Portal')"/>
<body class="bg-nord-0">

<div class="container mx-auto" un-cloak>
    <div th:replace="fragments/navbars/employee-navbar :: navbar"/>
    <div class="flex flex-col gap-4 mx-8 my-7" th:unless="${checkedIn}">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Employee Home</label>
        <form class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" th:action="@{/e/checkin}">
            <!-- Flash message for error -->
            <div class="flex justify-center" th:if="${error}">
                <div class="bg-nord-11 rounded m-2 p-2 text-nord-6 text-s italic text-center w-1/2">
                    <span th:text="${error}"></span>
                </div>
            </div>

            <!-- Flash message for success -->
            <div class="flex justify-center" th:if="${message}">
                <div class="bg-nord-14 rounded m-2 p-2 text-nord-0 text-s italic text-center w-1/2">
                    <span th:text="${message}"></span>
                </div>
            </div>
            <h1 class="text-nord-4 text-center text-3xl">Check-In Portal</h1>
            <div class="mt-4">
                <label class="block text-nord-4 text-center text-md font-bold mb-2">
                    Rating
                </label>
                <!-- Rating buttons from 1-10 -->
                <div>
                    <div class="flex gap-2 justify-center flex-wrap p-1">
                        <input name="rating" type="hidden">
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="1">
                            <!-- emoji for rating -->
                            <!-- Weary Face -->
                            &#x1F629;
                            <br>
                            1
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="2">
                            <!-- emoji for rating -->
                            <!-- Disappointed Face -->
                            &#x1F61E;
                            <br>
                            2
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="3">
                            <!-- emoji for rating -->
                            <!-- Neutral Face -->
                            &#x1F610;
                            <br>
                            3
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="4">
                            <!-- emoji for rating -->
                            <!-- Slightly Smiling Face -->
                            &#x1F642;
                            <br>
                            4
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="5">
                            <!-- emoji for rating -->
                            <!-- Smiling Face with Smiling Eyes -->
                            &#x1F60A;
                            <br>
                            5
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="6">
                            <!-- emoji for rating -->
                            <!-- Smiling Face with Halo -->
                            &#x1F607;
                            <br>
                            6
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="7">
                            <!-- emoji for rating -->
                            <!-- Grinning Face with Big Eyes -->
                            &#128516;
                            <br>
                            7
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="8">
                            <!-- emoji for rating -->
                            <!-- Smiling Face with Sunglasses -->
                            &#x1F60E;
                            <br>
                            8
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="9">
                            <!-- emoji for rating -->
                            <!-- Smiling Face with Heart-Eyes -->
                            &#x1F60D;
                            <br>
                            9
                        </button>
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                name="rating"
                                type="button" value="10">
                            <!-- emoji for rating -->
                            <!-- Star-Struck -->
                            &#x1F929;
                            <br>
                            10
                        </button>
                    </div>

                    <!-- Text area where they can give a reason why they gave such a rating. -->
                    <div class="mt-4">
                        <label class="block text-nord-4 text-center text-md font-bold mb-2" for="comment">
                            Comment
                        </label>
                        <div class="flex justify-center">
                        <textarea
                                class="shadow appearance-none border rounded md:w-1/3 h-24 justify-center py-2 px-3 text-nord-0 bg-nord-5 leading-tight focus:outline-none focus:shadow-outline"
                                id="comment"
                                name="comment" placeholder="Optional comment"></textarea>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="flex justify-center mt-4">
                        <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">
                            Check-In
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="flex flex-col gap-4 mx-8 my-7" th:if="${checkedIn}">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Employee Home</label>
        <div class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center justify-center">

            <!-- Flash message for error -->
            <div class="flex justify-center" th:if="${error}">
                <div class="bg-nord-11 rounded m-2 p-2 text-nord-6 text-s italic text-center w-1/2">
                    <span th:text="${error}"></span>
                </div>
            </div>

            <!-- Flash message for success -->
            <div class="flex justify-center" th:if="${message}">
                <div class="bg-nord-14 rounded m-2 p-2 text-nord-0 text-s italic text-center w-1/2">
                    <span th:text="${message}"></span>
                </div>
            </div>

            <div class="flex justify-center m-2">
                <p class="text-nord-4 text-3xl">You have already checked in for today.</p>
            </div>
            <div class="flex justify-center m-2">
                <p class="text-nord-5 text-md">Come back tomorrow, to check in again.</p>
            </div>
        </div>
    </div>
    <!-- Show upcoming meetings -->
    <div class="flex flex-col gap-4 bg-nord-1 shadow-md rounded px-8 mb-4">
        <label class="text-nord-4 font-semibold tracking-wider text-lg">Upcoming Meetings</label>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-4" th:if="${upcomingMeetings.isEmpty()}">
                <label class="text-nord-4 font-semibold tracking-wider text-sm">No upcoming meetings</label>
            </div>
            <div class="flex flex-col gap-4 pb-2" th:each="meeting : ${upcomingMeetings}"
                 th:if="${!upcomingMeetings.isEmpty()}">
                <div class="flex">
                    <label class="text-nord-4 font-semibold tracking-wider text-sm">Meeting with
                        <span th:text="${meeting.requestee.name}"></span>
                    </label>
                    <label class="text-nord-4 font-semibold tracking-wider text-sm pl-1.5">on
                        <span th:text="${#dates.format(meeting.time, 'dd/MM/yyyy')}"></span>
                    </label>
                    <label class="text-nord-4 font-semibold tracking-wider text-sm pl-1.5" th:if="${meeting.confirmed}">-
                        <a class="hover:underline" th:href="${meeting.link}">Join Here</a>
                    </label>
                    <label class="text-nord-4 font-semibold tracking-wider text-sm pl-1.5"
                           th:unless="${meeting.confirmed}">(Pending)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 mx-8 my-7">
        <div>
            <label class="text-nord-4 font-semibold tracking-wider text-lg">Alerts</label>
            <span class="rounded-3xl bg-nord-4 text-nord-0 text-xs px-1 align-top font-semibold"
                  th:text="${unreadCount}"
                  th:unless="${noUnreadAlerts}">
            </span>
        </div>
        <div class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="bg-nord-0 text-nord-4 p-4 my-4 rounded text-center" role="alert" th:if="${alerts.size() < 1}">
                <p class="text-nord-6 font-semibold">No alerts, check back later</p>
            </div>
            <div class="bg-nord-0 relative border-l-4 border-orange-500 text-nord-4 p-4 my-4 rounded"
                 role="alert" th:classappend="${alert.readByTarget ? 'opacity-50' : ''}"
                 th:each="alert : ${alerts}">
                <p class="text-xs text-nord-6" th:text="${#dates.format(alert.created)}"></p>
                <p class="font-bold" th:text="${alert.title}"></p>
                <p th:text="${alert.targetMessage}"></p>
                <form th:action="@{/e/alert/read}" th:method="post" th:unless="${alert.readByTarget}">
                    <label>
                        <input class="hidden" name="id" th:value="${alert.id}" type="submit">
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="hover:bg-nord-2 cursor-pointer fill-current h-6 w-6 bg-nord-0 text-nord-4 rounded-lg"
                             un-cloak
                             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
A portal, where the user can check in a rating from 1-10 of how they're doing.
They can also optionally add a comment to why they're feeling that way.
With the nord theme, and Tailwind CSS.
 -->
</body>

<script>
    const ratingInput = document.querySelector('input[name="rating"]');
    document.querySelectorAll("button[name='rating']").forEach(elem => elem.addEventListener("click", (e) => {
        // remove old css
        const oldElem = document.querySelector("button[name='rating'][value='" + ratingInput.value + "']")
        if (oldElem) {
            oldElem.classList.remove("!bg-nord-3");
            oldElem.classList.remove("hover:!bg-nord-2");
            oldElem.classList.add("!bg-nord-10");
            oldElem.classList.add("hover:!bg-nord-9");
        }
        ratingInput.value = e.target.value;
        // add new css
        e.target.classList.remove("!bg-nord-10");
        e.target.classList.remove("hover:!bg-nord-9");
        e.target.classList.add("!bg-nord-3");
        e.target.classList.add("hover:!bg-nord-2");
    }));
</script>

<footer th:replace="fragments/footer :: footer"></footer>

</html>