<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Home | Employee Check-In Portal')"/>
<body class="bg-nord-0">

<div class="container mx-auto">
    <div th:replace="fragments/navbars/employee-navbar :: navbar"/>
</div>

<!--
A portal, where the user can check in a rating from 1-10 of how they're doing.
They can also optionally add a comment to why they're feeling that way.
With the nord theme, and Tailwind CSS.
 -->
<div class="bg-nord-0" un-cloak>
    <div class="bg-nord-1">
        <div th:unless="${checkedIn}">
            <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" th:action="@{/e/checkin}">

                <h1 class="text-nord-4 text-center text-5xl">Check-in Portal</h1>

                <!-- Flash message for error -->
                <div class="flex justify-center" th:if="${error}">
                    <div class="h-6 w-auto rounded bg-nord-3 text-nord-11 text-center">
                        <span th:text="${error}"></span>
                    </div>
                </div>

                <!-- Flash message for success -->
                <div class="flex justify-center" th:if="${message}">
                    <div class="h-6 w-auto rounded bg-nord-3 text-nord-14 text-center">
                        <span th:text="${message}"></span>
                    </div>
                </div>

                <div class="mt-4">
                    <label class="block text-nord-4 text-center text-md font-bold mb-2">
                        Rating
                    </label>
                    <!-- Rating buttons from 1-10 -->
                    <div>
                        <div class="flex justify-center">
                            <input name="rating" type="hidden">
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="1">
                                <!-- emoji for rating -->
                                <!-- Weary Face -->
                                &#x1F629;
                                <br>
                                1
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="2">
                                <!-- emoji for rating -->
                                <!-- Disappointed Face -->
                                &#x1F61E;
                                <br>
                                2
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="3">
                                <!-- emoji for rating -->
                                <!-- Neutral Face -->
                                &#x1F610;
                                <br>
                                3
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="4">
                                <!-- emoji for rating -->
                                <!-- Slightly Smiling Face -->
                                &#x1F642;
                                <br>
                                4
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="5">
                                <!-- emoji for rating -->
                                <!-- Smiling Face with Smiling Eyes -->
                                &#x1F60A;
                                <br>
                                5
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="6">
                                <!-- emoji for rating -->
                                <!-- Smiling Face with Halo -->
                                &#x1F607;
                                <br>
                                6
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="7">
                                <!-- emoji for rating -->
                                <!-- Grinning Face with Big Eyes -->
                                &#128516;
                                <br>
                                7
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="8">
                                <!-- emoji for rating -->
                                <!-- Smiling Face with Sunglasses -->
                                &#x1F60E;
                                <br>
                                8
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="9">
                                <!-- emoji for rating -->
                                <!-- Smiling Face with Heart-Eyes -->
                                &#x1F60D;
                                <br>
                                9
                            </button>
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-2"
                                    name="rating"
                                    type="button" value="10">
                                <!-- emoji for rating -->
                                <!-- Star-Struck -->
                                &#x1F929;
                                <br>
                                10
                            </button>
                        </div>

                        <!-- Text area where they can give a reason why they gave such a rating. -->
                        <div class="mt-4">
                            <label class="block text-nord-4 text-center text-md font-bold mb-2">
                                Comment
                            </label>
                            <div class="flex justify-center">
                        <textarea
                                class="shadow appearance-none border rounded w-1/3 h-24 justify-center py-2 px-3 text-nord-0 bg-nord-5 leading-tight focus:outline-none focus:shadow-outline"
                                name="comment" placeholder="Optional comment"></textarea>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="flex justify-center mt-4">
                            <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${checkedIn}">
            <div class="text-center justify-center mt-4">

                <!-- Flash message for error -->
                <div class="flex justify-center" th:if="${error}">
                    <div class="h-6 w-auto rounded bg-nord-3 text-nord-11 text-center">
                        <span th:text="${error}"></span>
                    </div>
                </div>

                <!-- Flash message for success -->
                <div class="flex justify-center" th:if="${message}">
                    <div class="h-6 w-auto rounded bg-nord-3 text-nord-14 text-center">
                        <span th:text="${message}"></span>
                    </div>
                </div>

                <h2 class="text-nord-4 text-4xl">You have already checked in for today.</h2>
                <br>
                <h3 class="text-nord-5 text-xl">Come back tomorrow, to check in again.</h3>
            </div>
        </div>
        <div class="flex items-center justify-center pt-8">
            <div class="text-center container">
                <h2 class="text-nord-4 text-xl" th:if="${noUnreadAlerts}">No unread alerts</h2>
                <h2 class="text-nord-4 text-xl" th:text="${unreadCount}  + ' Unread alerts'"
                    th:unless="${noUnreadAlerts}"></h2>
                <div th:each="alert : ${alerts}">
                    <div class="flex justify-center my-2">
                        <div class="flex flex-col rounded-lg shadow-lg p-4"
                             th:classappend="${alert.readByTarget ? 'bg-nord-0' : 'bg-nord-2'}">
                            <div class="flex justify-between">
                                <div class="flex flex-col">
                                    <span class="text-nord-4 font-bold text-xl" th:text="${alert.title}"></span>
                                    <span class="text-nord-5 text-sm" th:text="${alert.targetMessage}"></span>
                                </div>
                                <div class="flex flex-col">
                                    <span class="text-nord-5 text-sm" th:text="${#dates.format(alert.created)}"></span>
                                </div>
                            </div>
                            <div class="flex justify-end">
                                <form th:action="@{/e/alert/read}" th:method="post" th:unless="${alert.readByTarget}">
                                    <input th:name="id" th:value="${alert.id}" type="hidden">
                                    <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                            type="submit">
                                        Mark as read
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    const ratingInput = document.querySelector('input[name="rating"]');
    document.querySelectorAll("button[name='rating']").forEach(elem => elem.addEventListener("click", (e) => {
        // remove old css
        const oldElem = document.querySelector("button[name='rating'][value='" + ratingInput.value + "']")
        if (oldElem) {
            oldElem.classList.remove("!bg-nord-3");
            oldElem.classList.remove("hover:!bg-nord-2");
            oldElem.classList.add("!bg-nord-10");
            oldElem.classList.add("hover:!bg-nord-9");
        }
        ratingInput.value = e.target.value;
        // add new css
        e.target.classList.remove("!bg-nord-10");
        e.target.classList.remove("hover:!bg-nord-9");
        e.target.classList.add("!bg-nord-3");
        e.target.classList.add("hover:!bg-nord-2");
    }));
</script>

<footer th:replace="fragments/footer :: footer"></footer>

</html>