<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header('Login | Graphium Employee Portal')"/>
<body>
<!-- Login Page with Tailwind -->
<div un-cloak class="bg-nord-0 flex items-center justify-center h-screen">
    <div class="w-full max-w-xs">
        <form class="bg-nord-1 shadow-md rounded px-8 pt-6 pb-8 mb-4" th:action="@{/login}" method="post">
            <!-- Logo -->
            <div class="flex justify-center">
                <div class="bg-nord-6 rounded w-2/5">
                    <img class="w-full h-full"
                         src="/logo.gif"
                         alt="Logo">
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-nord-4 text-md font-bold mb-2" for="email">
                    Email
                </label>
                <input class="bg-nord-6 shadow appearance-none border rounded w-full py-2 px-3 text-nord-1 leading-tight focus:outline-none focus:shadow-outline"
                       name="email" id="email" type="text" placeholder="Email">
            </div>
            <div class="mb-6">
                <label class="block text-nord-4 text-md font-bold mb-2" for="password">
                    Password
                </label>
                <input class="bg-nord-6 shadow appearance-none border rounded w-full py-2 px-3 text-nord-1 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       th:classappend="${param.error} ? 'border-nord-11' : ''"
                       name="password"
                       id="password" type="password" placeholder="*****">
                <p class="text-nord-11 text-xs italic" th:if="${param.error}">
                    Invalid email or password.
                </p>
            </div>
            <div class="flex items-center justify-between">
                <button class="!bg-nord-10 hover:!bg-nord-9 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    Sign In
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-nord-9 hover:text-nord-10" href="#">
                    Forgot Password?
                </a>
            </div>
        </form>
        <p class="text-center text-nord-5 text-xs">
            &copy;2022 Graphium. All rights reserved.
        </p>
    </div>
</div>
</body>

<footer th:replace="fragments/footer :: footer"></footer>
</html>
